## Connecting to PostgreSQL Database
- We'll use SQLAlchemy to establish a connection to query
- It should connect to the 'social_media_db' we create from the service in the docker-compose.yml

### Define Credentials

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd

# Define database, which match the 'social_media_db' service in the docker-compose.yml.
# which Docker exposes the service on localhost and "5433:5432" in docker-compose.yml.
user = 'postgres'
password = 'postgres'
host = 'localhost' 
port = 5433         
database = 'social_media_db'

### Create Connection Engine and Test It

In [2]:
# Construct the connection string in PostgreSQL URI format.
conn_string = f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}"

# Create the SQLAlchemy engine.
engine = create_engine(conn_string)  

# Test the connection 
try:
    with engine.connect() as conn:
        result = conn.execute(text("SELECT 1 AS test;"))
        test_value = result.scalar()  # Fetch single value.
    
    if test_value == 1:
        print(f"Connection successful! Connected to {database} on {host}:{port} as {user}.")
        print("Database is ready for queries.")
    else:
        print("Connection test failed unexpectedly.")
        
except Exception as e:
    print(f"Connection error: {e}")
    print("Troubleshooting: Check Docker status (`docker ps`), port forwarding, or credentials.")

Connection successful! Connected to social_media_db on localhost:5433 as postgres.
Database is ready for queries.

## Verifying Data Existence
- In the data pipeline section, we created 3 tables: channels, videos, and comments
- To confirm we successfully load all the YouTube social media data, we query counting and print them for verifying Airflow ETL pipeline works.

### Verify Data in 'channels' Table
- The channels table stores YouTube channel metadata which scratch from the ETL process
- You can see features like channel_id, title, subscriber_count
- based on the **"Statistical Summary"**, subscribers and view are **widely dispersed**, but the **total_videos** are similar.

In [29]:
# Define query row count for verification.
count_query = 'SELECT COUNT(*) AS total_rows FROM channels;'

# Also print the first 5 row samples from channels table.
query_channels = 'SELECT * FROM channels;'

# Use SQLAlchemy's native execution
with engine.connect() as conn:
        
    # Execute count query.
    count_result = conn.execute(text(count_query))
    total_channels = count_result.scalar()
    print(f"Total rows: {total_channels}")
    
    # print first 5 rows from channels table
    df_channels = conn.execute(text(query_channels))
    df_channels = pd.DataFrame(df_channels.fetchall(), columns=df_channels.keys())
    print(f"Shape: {df_channels.shape} (rows, columns)")
    print("\nFirst 5 rows:")
    display(df_channels.head(5))  
    
    # stats
    print("\nStatistical Summary:")
    display(df_channels.describe())
    
    print("\nMissing Values per Column:")
    display(df_channels.isnull().sum())

Total rows: 6
Shape: (6, 6) (rows, columns)

First 5 rows:

,channel_id,channel_name,views,total_videos,subscribers,updated_at
0,UCFfbH3zDLa47d4nfotQ349Q,æŠ•è³‡æœ€å®¹æ˜“,3314510,395,34900,2025-11-05 00:43:44
1,UCCjW9xzAsCSKIzDYCx8CuxA,æ™ºå‰ä¿éšªç†è²¡Talk,2838267,433,39700,2025-11-05 00:43:44
2,UCD5Lx-3KCYZzCzGF2A60STg,Bowtie Insurance ä¿æ³°äººå£½,52434288,337,84600,2025-11-05 00:43:44
3,UC8OVLoXv7B1BdOVV44Dz3ig,Project Umbrella,1316422,235,20100,2025-11-05 00:43:44
4,UCxQfqaw1i39eBQG1YJDbDkw,UTOPIA HK,622562,324,4170,2025-11-05 00:43:44

Statistical Summary:

              views  total_videos   subscribers           updated_at
count  6.000000e+00      6.000000      6.000000                    6
mean   1.022061e+07    596.500000  31476.666667  2025-11-05 00:43:44
min    6.225620e+05    235.000000   4170.000000  2025-11-05 00:43:44
25%    9.273115e+05    327.250000   9067.500000  2025-11-05 00:43:44
50%    2.077344e+06    366.000000  27500.000000  2025-11-05 00:43:44
75%    3.195449e+06    423.500000  38500.000000  2025-11-05 00:43:44
max    5.243429e+07   1855.000000  84600.000000  2025-11-05 00:43:44
std    2.070936e+07    620.231489  29856.415503                  NaN

Missing Values per Column:

channel_id      0
channel_name    0
views           0
total_videos    0
subscribers     0
updated_at      0
dtype: int64

### Verify Data in 'videos' Table
- The videos table stores all the video created from those YouTube channel, which we scratch from the ETL process
- You can see features like video_id, title, views, likes
- based on the **"Statistical Summary"**, video's views are **widely dispersed**, but the **likes** and **comments** are similar.

In [31]:
# same as above but for videos table
count_query = 'SELECT COUNT(*) AS total_rows FROM videos;'
query_videos = 'SELECT * FROM videos;'

with engine.connect() as conn:
    count_result = conn.execute(text(count_query))
    total_videos = count_result.scalar()
    print(f"Total rows: {total_videos}")

    df_videos = conn.execute(text(query_videos))
    df_videos = pd.DataFrame(df_videos.fetchall(), columns=df_videos.keys())
    df_videos = df_videos.drop('video_duration', axis=1)
    print(f"Shape: {df_videos.shape} (rows, columns)")
    print("\nFirst rows:")
    display(df_videos.head(1))
    
    # stats
    print("\nStatistical Summary:")
    display(df_videos.describe())
    
    print("\nMissing Values per Column:")
    display(df_videos.isnull().sum())

Total rows: 3288
Shape: (3288, 9) (rows, columns)

First rows:

,video_id,channel_id,channel_name,title,published_at,view_count,like_count,comment_count,duration
0,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,Bowtie Insurance ä¿æ³°äººå£½,è²¡å‹™è‡ªç”± éƒ½è¦é¢å° å©šå§» å±æ©Ÿ + ç§»æ°‘ å›°å¢ƒ + ä»”å¥³ å•é¡Œï¼æ­é–‹ æˆ‘è¦åšå¯Œç¿ 3å¤§æ™æ‰ï¼...,2025-11-04 10:30:45,9555,324,15,4218

Statistical Summary:

,published_at,view_count,like_count,comment_count,duration
count,3288,3.288000e+03,3288.000000,3288.000000,3288.000000
mean,2023-01-12 08:09:49.532238080,1.863167e+04,117.363747,13.125912,679.214720
min,2016-07-04 04:04:18,0.000000e+00,0.000000,0.000000,0.000000
25%,2021-10-21 04:18:36.249999872,6.375000e+01,1.000000,0.000000,181.000000
50%,2023-05-22 07:33:56,3.080000e+02,6.000000,0.000000,523.500000
75%,2024-05-18 18:31:54,2.165750e+03,42.000000,4.000000,836.000000
max,2025-11-04 13:00:06,7.570773e+06,10539.000000,741.000000,13800.000000
std,NaN,1.764858e+05,540.239363,45.676112,803.812559

Missing Values per Column:

video_id         0
channel_id       0
channel_name     0
title            0
published_at     0
view_count       0
like_count       0
comment_count    0
duration         0
dtype: int64

### Verify Data in 'comments' Table
- The comments table stores all the comments who made from the audience form those videos, which we scratch from the ETL process
- You can see features like comment_id, text, likes, published_at per videos
- Base on the **vader_score** in the **Statistical Summary**, emotion are similar for each video.

In [35]:
# same as above but for videos table
query_comments = 'SELECT * FROM comments;'
count_query = 'SELECT COUNT(*) AS total_rows FROM comments;'

with engine.connect() as conn:
    count_result = conn.execute(text(count_query))
    total_comments = count_result.scalar()
    print(f"Total rows: {total_comments}")

    df_comments = conn.execute(text(query_comments))
    df_comments = pd.DataFrame(df_comments.fetchall(), columns=df_comments.keys())
    print(f"Shape: {df_comments.shape} (rows, columns)")
    print("\nFirst 5 rows:")
    display(df_comments.head(5))
    
    # stats
    print("\nStatistical Summary:")
    df_comments['vader_score'] = pd.to_numeric(df_comments['vader_score'], errors='coerce')
    df_comments['vader_score'] = df_comments['vader_score'].round(2)
    display(df_comments.describe())
    
    print("\nMissing Values per Column:")
    display(df_comments.isnull().sum())

Total rows: 21967
Shape: (21967, 7) (rows, columns)

First 5 rows:

,comment_id,video_id,channel_id,comment_text,published_at,vader_score,vader_sentiment
0,UgwWUEI9qftJmREhN694AaABAg,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,ğŸ’“ YouTube è§€çœ¾å°ˆå±¬å„ªæƒ ç¢¼ï¼ã€ YT2025 ã€‘ğŸ’“\nğŸ’“ ç”±å³æ—¥è‡³2025å¹´11æœˆ1...,2025-11-04 10:45:05,0.000,neutral
1,UgzzpDO8ClFNjx-sV_14AaABAg,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,èª²ç¨‹å°±å†‡å¼·è¿«ä½ å»å ±å˜… ä¸éè¼¸åˆ°ä»†è¡—å°±å¾é—œäººäº‹å›‰,2025-11-04 20:50:46,0.000,neutral
2,Ugx6lOlIhgRluo22LvJ4AaABAg,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,ä½¢è‡ªå·±å–ºå¤šå€«å¤šè²·condoåˆ°è¼¸åˆ°é˜¿åª½éƒ½å””èªå¾—. å…©å¹´å‰å«äººè²·T L Tç¾åœ‹é•·å‚µè¼¸åˆ°ä»†è¡—,2025-11-04 19:15:09,0.000,neutral
3,UgwStSHQBBFWHsjC5U14AaABAg,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,å‘¢å•²æ•…ä»”å‘¢10å¹´ä½¢æˆæ—¥è¬›ï¼Œæœ€è¿‘è‚¯å®šä¿‚æ”¶å””åˆ°å­¸ç”Ÿå‡ºåšŸæ‹†è¿”å­˜åœ¨æ„Ÿæƒ³å¢åŠ è¿”å•²æ”¶å…¥,2025-11-04 19:13:04,0.000,neutral
4,UgzCACfJyz644Kmt_Xl4AaABAg,tEoC8aiTD34,UCD5Lx-3KCYZzCzGF2A60STg,Thanks for sharing ğŸ‰,2025-11-04 18:49:19,0.691,positive

Statistical Summary:

                        published_at   vader_score
count                          21967  21967.000000
mean   2024-09-04 20:30:44.970046208      0.033193
min              2016-07-04 04:32:48     -0.860000
25%              2024-03-13 14:34:13      0.000000
50%              2024-12-16 04:33:14      0.000000
75%       2025-07-08 19:09:04.500000      0.000000
max              2025-11-04 23:44:26      0.990000
std                              NaN      0.147978

Missing Values per Column:

comment_id         0
video_id           0
channel_id         0
comment_text       0
published_at       0
vader_score        0
vader_sentiment    0
dtype: int64

## Bowtie
- Do Bowtie make more videos than other in general?
- Do they just post more recently?
- compair to other competitors.

In [4]:
!pip install matplotlib seaborn

/Users/kevinleungch421/Documents/Profolio Project/insurance-hk-youtube-report/.venv/bin/pip: line 2: /Users/kevinleungch421/Documents/Profolio Project/Social-Media-ETL/.venv/bin/python3.12: No such file or directory
/Users/kevinleungch421/Documents/Profolio Project/insurance-hk-youtube-report/.venv/bin/pip: line 2: exec: /Users/kevinleungch421/Documents/Profolio Project/Social-Media-ETL/.venv/bin/python3.12: cannot execute: No such file or directory

In [2]:
from sqlalchemy import text
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns  # For nicer plots (pip install seaborn if needed)

# Your connection (from previous setup)
conn_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/social_media_db"
engine = create_engine(conn_string)

# The corrected query
query = """
SELECT 
    TO_CHAR(published_at, 'YYYY-MM') AS month_year,
    COUNT(*) AS total_videos
FROM videos
WHERE channel_id = 'UCuTaETsuCOkJ0H_GAztWt0Q'
GROUP BY TO_CHAR(published_at, 'YYYY-MM')
ORDER BY month_year ASC;
"""

try:
    # Load into DataFrame
    df_time_series = pd.read_sql(query, con=engine)
    
    # Prep for plotting: Convert month_year to datetime for x-axis
    df_time_series['month_year'] = pd.to_datetime(df_time_series['month_year'] + '-01')  # Add day for parsing
    
    print("Time Series Data (Videos per Month):")
    display(df_time_series.head(10))  # Preview first 10 months
    
    # Basic stats
    print(f"\nTotal months with data: {len(df_time_series)}")
    print(f"Average videos/month: {df_time_series['total_videos'].mean():.1f}")
    print(f"Peak month: {df_time_series.loc[df_time_series['total_videos'].idxmax(), 'month_year']} ({df_time_series['total_videos'].max()} videos)")
    
    # Plot: Line chart for trends
    plt.figure(figsize=(12, 6))
    sns.lineplot(data=df_time_series, x='month_year', y='total_videos', marker='o', linewidth=2)
    plt.title("GCN Video Upload Frequency Over Time (Monthly)")
    plt.xlabel("Month")
    plt.ylabel("Number of Videos")
    plt.xticks(rotation=45)
    plt.grid(True, alpha=0.3)
    plt.tight_layout()
    plt.show()
    
    # Optional: Bar plot for discrete view
    plt.figure(figsize=(12, 6))
    sns.barplot(data=df_time_series, x='month_year', y='total_videos')
    plt.title("GCN Video Uploads: Monthly Breakdown")
    plt.xlabel("Month")
    plt.ylabel("Videos")
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()
    
except Exception as e:
    print(f"Query error: {e}")
    print("Tip: Ensure 'published_at' is a DATE/TIMESTAMP and data exists for this channel.")

# Cleanup
engine.dispose()

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
print("âœ… Matplotlib and Seaborn imported successfully!")

# Quick plot test
plt.plot([1, 2, 3], [1, 4, 2])
plt.title("Success!")
plt.show()

ModuleNotFoundError: No module named 'matplotlib'